<h1>Update Book Information</h1>
<form action="edit" method="post">
  Change title:<br>
  <input type="text" name="title" value="<%= @book.title %>"><br><br>
  Change rating:<br>  
  <% ["Great","Good","Mediocre","Poor"].each do |r| %>
    <% if r == @book.rating %>
      <input type="radio" name="rating" value=<%= r %> checked><%= r %><br>
    <% else %>
      <input type="radio" name="rating" value=<%= r %>><%= r %><br>
    <% end %>
  <% end %>
  <br><input type="submit">
  <input type="hidden" name="id" value=<%= @book.id %>>
</form>